<ServiceConfig>
	<VideoFeedName>video</VideoFeedName>
	<VideoFrameRate>32</VideoFrameRate>
	<Resolution>(1280, 960)</Resolution>
	<WriteTimestamp>True</WriteTimestamp>
	<Flip>False</Flip>
	<StillImageName>still</StillImageName>
</ServiceConfig>
